*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*~
slides.pdf
notes/notes.pdf
*.slim.m
pdffigs/*.pdf
anim/*.png
ice_bib.bib
mfiles/*.nc
mfiles/other/*.nc
bueler_karthaus/*
bueler_karthaus.*
petsc/ssaflowline
