*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*~
projects/2012/upwindnotes.pdf
*.slim.m
pdffigs/*.pdf
anim/*.png
ice-bib.bib
mfiles/ant/*.nc
petsc/ssaflowline
slides.pdf
